<?xml version="1.0" encoding="utf-8"?>
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/carstore</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">romansmelev</property>
        <property name="connection.password"></property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
        <property name="show_sql">true</property>

        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.min_size">7</property>
        <property name="hibernate.c3p0.max_size">53</property>
        <property name="hibernate.c3p0.timeout">100</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">1000</property>
        <property name="hibernate.c3p0.validate">true</property>
        <property name="hibernate.connection.provider_class">org.hibernate.service.jdbc.connections.internal.C3P0ConnectionProvider</property>

        <mapping class="ru.job4j.carstore.models.Body"/>
        <mapping class="ru.job4j.carstore.models.Brand"/>
        <mapping class="ru.job4j.carstore.models.Car"/>
        <mapping class="ru.job4j.carstore.models.Engine"/>
        <mapping class="ru.job4j.carstore.models.Image"/>
        <mapping class="ru.job4j.carstore.models.Model"/>
        <mapping class="ru.job4j.carstore.models.Order"/>
        <mapping class="ru.job4j.carstore.models.Transmission"/>
        <mapping class="ru.job4j.carstore.models.User"/>
    </session-factory>
</hibernate-configuration>