<web-app>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.job4j.sepoperservlet.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <!--<filter>-->
        <!--<filter-name>EditFilter</filter-name>-->
        <!--<filter-class>ru.job4j.sepoperservlet.EditFilter</filter-class>-->
    <!--</filter>-->
<!---->
    <!--<filter-mapping>-->
        <!--<filter-name>EditFilter</filter-name>-->
        <!--<url-pattern>/edit</url-pattern>-->
    <!--</filter-mapping>-->

    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.EchoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>ru.job4j.crudservlet.UserServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/database</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChoiceServlet</servlet-name>
        <servlet-class>ru.job4j.sepoperservlet.ChoiceServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ChoiceServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateUserServlet</servlet-name>
        <servlet-class>ru.job4j.sepoperservlet.CreateUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateUserServlet</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>ru.job4j.sepoperservlet.EditUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/edituser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditAdminServlet</servlet-name>
        <servlet-class>ru.job4j.sepoperservlet.EditAdminServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditAdminServlet</servlet-name>
        <url-pattern>/editadmin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>ru.job4j.sepoperservlet.DeleteUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Signin</servlet-name>
        <servlet-class>ru.job4j.sepoperservlet.SigninController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JsonServlet</servlet-name>
        <servlet-class>ru.job4j.sepoperservlet.JsonServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JsonServlet</servlet-name>
        <url-pattern>/json</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>ru.job4j.sepoperservlet.QuitServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/quit</url-pattern>
    </servlet-mapping>
</web-app>