<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Car Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https:////netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .selector {
            width: 90px;
            margin-right: 5px;
        }
    </style>

    <script th:inline="javascript">
        /*<![CDATA[*/

        $(document).ready(function () {
            loadSelectors();
        });

        /**
         * Add order.
         */
        function addOrder() {
            var order = {
                'description' : $('#description').val(),
                'price' : $('#price').val(),
                'car' : {
                    'color' : $('#color').val(),
                    'model' :{
                        'name' : $('#model').val(),
                        'brand' : {'name': $('#brand').val()}
                    },
                    'body' : {'name' : $('#body').val()},
                    'transmission' : {'name' : $('#transmission').val()},
                    'engine' : {'name' : $('#engine').val()}
                }
            };

            $.ajax('./addOrder', {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: "POST",
                async: false,
                processData:false,
                dataType: "json",
                data : JSON.stringify(order),
                complete : function(data){
                    alert("Order added successful!");
                }
            })
        }

        /**
         * Form selector for brands.
         */
        function brandSelector() {
            $.ajax('./getBrands', {
                method: 'get',
                dataType: "json",
                success: function (data) {
                    document.getElementById("brand").innerHTML = "<option>--choose brand--</option>"
                    $.each(data, function (i, el) {
                        document.getElementById("brand").innerHTML += "<option>" + el.name + "</option>";
                    });
                }
            })
        }

        /**
         * Form selector for models.
         */
        function modelSelector() {
            var sel = document.getElementById("brand");
            $.ajax('./getModels', {
                method: 'get',
                data : {
                    brand: $('#brand').val()
                },
                dataType: "json",
                success: function (data) {
                    document.getElementById("model").innerHTML = "<option>--choose model--</option>";
                    $.each(data, function (i, el) {
                        document.getElementById("model").innerHTML += "<option>" + el.name + "</option>";
                    });
                }
            })
        }

        /**
         * Form selector for engines.
         */
        function engineSelector() {
            $.ajax('./getEngines', {
                method: 'get',
                dataType: "json",
                success: function (data) {
                    $.each(data, function (i, el) {
                        document.getElementById("engine").innerHTML += "<option>" + el.name + "</option>";
                    });
                }
            })
        }

        /**
         * Form selector for transmissions.
         */
        function transmissionSelector() {
            $.ajax('./getTransmissions', {
                method: 'get',
                dataType: "json",
                success: function (data) {
                    $.each(data, function (i, el) {
                        document.getElementById("transmission").innerHTML += "<option>" + el.name + "</option>";
                    });
                }
            })
        }

        /**
         * Form selector for car bodies.
         */
        function carBodiesSelector() {
            $.ajax('./getBodies', {
                method: 'get',
                dataType: "json",
                success: function (data) {
                    $.each(data, function (i, el) {
                        document.getElementById("body").innerHTML += "<option>" + el.name + "</option>";
                    });
                }
            })
        }

        /**
         * Load selectors on form.
         */
        function loadSelectors() {
            brandSelector();
            engineSelector();
            transmissionSelector();
            carBodiesSelector();
        }

        function back() {
            location.href = "./";
        }

        /*]]>*/
    </script>
</head>
<body>

<div class="container">
    <br>
    <button type="submit" class="btn btn-success" onclick="back()">Back</button>
    <h3 style="padding-bottom: 30px">Create new order</h3>
    <div class="row">
        <div class="col-md-8">
            <form id="form" accept-charset="UTF-8">
                <label>
                    Color: <input type="text" id="color" value="red" name="color">
                </label>
                <br><br>
                <label>
                    Car brand: <br/>
                    <select class="selector" id="brand" name="brand" onchange="return modelSelector()"></select>
                </label>

                <label>
                    Car model: <br/>
                    <select class="selector" id="model" name="model"></select>
                </label>

                <label>
                    Engine type: <br/>
                    <select class="selector" id="engine" name="engine"></select>
                </label>

                <label>
                    Transmission: <br/>
                    <select class="selector" id="transmission" name="transmission"></select>
                </label>

                <label>
                    Body type: <br/>
                    <select class="selector" id="body" name="body"></select>
                </label>

                <br/><br/>

                <label>
                    Price: <input type="number" id="price" name="price" value="50000">
                </label>
                <br/><br/>

                <label>
                    Description: <br/>
                    <textarea style="width: 300%; padding-bottom: 20px" id="description" name="description">Third try</textarea>
                </label>
            </form>
        </div>
    </div>
    <br/>
    <button type="submit" class="btn btn-success" onclick="return addOrder();">Add new order</button><br><br>
</div>

<div class="container">
    <form method="POST" enctype="multipart/form-data" th:action="@{/addImage}">
        <input id="file-image" type="file" name="file" accept="image/jpeg" multiple="multiple">
        <input id="file-btn-load" type="submit" class="btn btn-success" value="Add image">
    </form>
</div>



</body>
</html>
